.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-link{
  color: rgb(230, 43, 10);
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
}
.myperson{
  display: grid;
  grid-template-columns:auto;
  column-gap: 50px;
  margin: auto;
  margin-top: 20px;
  
  align-content: center;
  text-align: center;
  max-width: 100%;
  width: 25%;
  background-color: lawngreen;
  color: red;
  border: 1px solid brown;
  padding: 20px;
  border-radius: 20px;
}

.friend{
  
  margin: auto;
  width: 25%;
  margin-top: 20px;
  max-width: 100%;
  background-color: aqua;
  color: rgba(34, 34, 29, 0.884);
  border-radius: 20px;
  padding: 20px;
}
.user{
  margin: auto;
  align-content: center;
  background-color: lightblue;
  border:  5px solid rgb(65, 170, 61);
  border-radius: 20px;
  margin-top: 20px;
  width: 25%;
}